@using ToDoList.Models
@{
    Layout = null;
    UserModel userModel = (UserModel)Session["user"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>To Do App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/ListStyles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Scripts/List.js"></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Welcome, @userModel.FirstName @userModel.LastName</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "pull-left" })</li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="toDoContainer">
            <div id="toDoHeader">
                <label id="toDoLabel">To Do:</label>
                <input type="text" id="toDoInput" />
                <button class="btn btn-primary smallButton" onclick="AddToDo()">Add a ToDo</button>
            </div>
            <ul class="nav nav-tabs toDoTabs">
                <li class="active"><a href="#todoAll" data-toggle="tab" aria-expanded="true" onclick="LoadAllToDos()">All</a></li>
                <li class=""><a href="#todoOnly" data-toggle="tab" aria-expanded="false" onclick="LoadOnlyToDos()">ToDo</a></li>
                <li class=""><a href="#doneOnly" data-toggle="tab" aria-expanded="false" onclick="LoadDoneToDos()">Done</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="todoAll">
                    <div id="toDoAllList" class="toDosContainer"></div>
                </div>
                <div class="tab-pane fade" id="todoOnly">
                    <div id="toDoOnlyList" class="toDosContainer"></div>
                </div>
                <div class="tab-pane fade" id="doneOnly">
                    <div id="doneOnlyList" class="toDosContainer"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            LoadAllToDos();
        });
    </script>

</body>
</html>
